build-*
*.pro.user
Thumbs.db
Makefile
Makefile.*
*_plugin_import.cpp
object_script*
release/
release/*
*.exe
*.o
HetRoversnest
ui_*.h
Files/*.h
Files/*.cpp
GameCityOfThievesExe.zip
GameCityOfThieves.zip
build/
*.elf
*.nds
NdsGraphical/source/ZanbarBoneBackground.h
